@media (max-width: 1200px) {
    .section_box {
        display: block;
        
    }
    .left_box {
        max-width: 1200px;
        width: 100%;
        margin-bottom: 30px;
    }
    .right_box {
        max-width: 1200px;
        width: 100%;
        padding-bottom: 50px;
    }
}
@media (max-width: 1150px) {
    .img img {
        max-width: 1150px;
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .box_title {
        font-size: 18px;
    }
    .box_text {
        line-height: 130%;
        font-size: 15px;
    }
    .box_link {
        font-size: 15px;
    }
    .right_box {
        max-height: 350px;
        height: 100%;
    }
    .img {
        max-width: 1000px;
        width: 100%;
    }
    .section {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .left_box {
        margin-bottom: 25px;
    }
    .left_box,
    .right_box {
        padding: 40px 80px 40px 30px;
    }
}
@media (max-width: 800px) {
    .nav_logo  {
        width: 100px;
        height: 135px;
        margin-bottom: 60px;
        margin-top: 45px;
    }
    .nav {
        padding: 10px 0;
    }
    .menu {
        display: block;
    }
    .nav_menu {
        flex-direction: column;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        padding: 50px 40px;
        z-index: 99;
        transform: translate(-100%);
        transition: 0.5s;
    }
    .nav_link {
        transition: 0.3s;
    }
    .nav_link:hover {
        background-color: none;
        color: #4581B7;
    }
    .nav {
        padding: 15px 0;
    }
    .close {
        display: block;
    }
    #checkbox:checked~.nav_menu {
        transform: translateX(0%);
    }
    .box_text {
        text-align: justify;
    }
    .section {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .left_box {
        margin-bottom: 20px;
    }
    .left_box .box_text {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: scroll;
    }
    .box_link {
        margin-bottom: 25px;
    }
}
@media (max-width: 750px) {
    .nav_logo  {
        width: 90px;
        height: 110px;
        margin-bottom: 40px;
        margin-top: 25px;
    }
    .left_box .box_text {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: scroll;
    }
    .footer_box {
        flex-direction: column;
        align-items: center;
    }
    .footer_img {
        width: 250px;
    }
    .right_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .left_box {
        gap: 20px;
        padding: 30px 50px 30px 20px;
        margin-bottom: 15px;
    }
    .right_box {
        gap: 20px;
        padding: 30px 50px 30px 20px;
    }
    .box_link {
        margin-bottom: 20px;
    }
}
@media (max-width: 650px) {
    .section {
    margin-top: 10px;
    }
    .box_title {
        font-size: 17px;
    }
    .box_text {
        font-size: 14px;
    }
    .box_link {
        margin-bottom: 15px;
    }
}
@media (max-width: 600px) {
    .nav_logo {
        width: 85px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .section {
    margin-top: 5px;
}
    .nav_menu {
        padding: 30px 20px;
    }
    .nav_link {
        font-size: 15px;
    }
    .footer_text {
        font-size: 15px;
    }
    .footer_tel {
        font-size: 25px;
    }
    .footer_img {
        width: 225px;
    }
    .footer_tel {
        margin-bottom: 30px;
    }
}
@media (max-width: 500px) {
    .nav_logo {
        width: 85px;
        height: 100px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .left_box,
    .right_box {
        gap: 10px;
    }
    .footer_text {
        font-size: 14px;
    }
    .footer_tel {
        font-size: 20px;
    }
    .footer_img {
        width: 200px;
    }
}
@media (max-width: 400px) {
    .section {
        margin-top: 0;
    }
    .box_link {
        margin-bottom: 0;
    }
    .footer_text {
        margin-right: 20px;
        margin-top: 30px;
    }
    .footer_tel {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}